#back-img{
    background-image: url(../image/louis-hansel-shotsoflouis-j-ei4eH1knk-unsplash.jpg);
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
    text-align: center;
    padding-top: 20%;
    
}
.menu{
    background-color: black;
    background-position: relative;
    background-image: url(../image/jarren-horrocks-nVFp3nTWAbA-unsplash.jpg);
    background-repeat: no-repeat;
    padding-left: 15%;
    background-size: contain;
    font: size 70%;
    color: white;

}
.Halsey{
font-style: italic;
color: black;
padding-top: -30%;
font-size: 30px;
}


